* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.app__header>h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: #fff;
}

/* app header */
.main-heading {
  color: #777;
  text-transform: uppercase;
}

.main-heading-primary {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {
    width: 100%;
    margin: 0 auto;
  }

  .app__stats {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .app__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }

  .main-heading {
    margin-bottom: 20px;
  }

  .app__mapContainer {
    margin-bottom: 20px;
  }

  .table-chart-container {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app__graph {
    flex-grow: 0.5;
    margin: 20px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app {
    width: 90%;
    margin: 0 auto;
  }

  .app__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }

  .main-heading {
    margin-bottom: 20px;
  }

  .app__mapContainer {
    margin-bottom: 20px;
  }

  .table-chart-container {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app__graph {
    flex-grow: 1;
    margin: 20px 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app {
    width: 90%;
    margin: 0 auto;
  }

  .app__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
  }

  .app__mapContainer {
    margin-bottom: 20px;
  }

  .table-chart-container {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app__graph {
    flex-grow: 1;
    margin: 20px 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app {
    width: 90%;
    margin: 0 auto;
  }

  .app__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
  }

  .app__mapContainer {
    margin-bottom: 20px;
  }

  .table-chart-container {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__graph {
    flex-grow: 0.5;
    margin: 0px 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    width: 95%;
    margin: 0 auto;
  }

  .app__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0px;
  }

  .app__mapContainer {
    margin-bottom: 20px;
  }

  .table-chart-container {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app__table {
    flex-grow: 2;
  }

  .app__graph {
    flex-grow: 1;
    margin: 0px 0px;
  }

}