.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;

}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: #CC1034;
}

.infoBox--green {
    border-color: #7dd71d;
}

.infoBox--orange {
    border-color: #fb4443;
}

.infoBox__cases--red {
    color: #CC1034 !important;
}

.infoBox__cases--green {
    color: #7dd71d !important;
}

.infoBox__cases--orange {
    color: #fb4443 !important;
}